@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins';
  color: #002A4B;
}

.bg-boston {
  background-color: #0368B6;
}

.bg-oscuro {
  background-color: #002A4B
}

.bg-claro {
  background-color: #A9CAEA;
}

.bg-blanco {
  background-color: #E1E9F0;
}

.text-azul {
  color: #0368B6;
}

.nav-link {
  font-size: 1.2rem;
  margin: 10px;
}

#home-carrusel {
  filter: brightness(.9);
  margin-bottom: 0;
}

.home-img {
  max-height: 90vh;
  width: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before {
  font-size: 10px;
  opacity: 1;
  color: white;
}

.slick-prev {
  left: 28px;
  z-index: 1;
}

.slick-next {
  right: 45px;
}

#home-carrusel div:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 70, 160, .25);
  mix-blend-mode: overlay;
}

.caption {
  max-width: 800px;
  font-family: 'Poppins';
  line-height: 1.6;
  color: white;
  position: absolute;
  top: 40vh;
  left: 10vw;
  font-size: 2.5rem;
}

/* nosotros */

.titulo-nosotros {
  padding-top: 70px;
  padding-right: 50px;
  padding-bottom: 10px;
  border-end-end-radius: 50px;
  width: 50vw;
  margin-bottom: 10vh;
}

.img-nosotros {
  margin-top: 3vh;
  padding-left: 10vw;
  max-width: 480px;
  min-height: 300px;
  object-fit: cover;
}

.contenedor-nosotros {
  padding: 0 50px 50px 0px;
  border-end-end-radius: 50px;
}

/* servicios */

.contenedor-servicios {
  padding: 15px;
  border-radius: 40px;
  width: 93%;
}

.titulo-nosotros h2,
.titulo-servicios h2,
.titulo-clientes h2,
.titulo-casos h2,
.titulo-contacto h2,
.titulo-alianzas h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #0368B6;
}

#servicios .card {
  padding: 0 12px;
  border: 0;
  max-width: 360px;
}

#servicios .card-img-top {
  max-height: 180px;
  object-fit: cover;
}

#servicios .card-title {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px 20px 5px;
}

#servicios .card-text {
  border-radius: 15px;
  margin: 13px;
}

.item-servicios {
  font-size: .7rem;
  list-style-position: inside;
  list-style-type: square;
}

.item-servicios span {
  font-size: .85rem;
  margin-left: -5px;
}

.cuadrados-servicios {
  padding: 15px;
  position: relative;
}

.cuadrados-servicios:before {
  content: "";
  width: 80px;
  height: 70px;
  border-radius: 15px;
  background-color: rgba(169, 202, 234, .5);
  position: absolute;
  top: -20px;
  left: -25px;
}

/* alianzas */
#alianzas .slick-prev,
#alianzas .slick-next {
  top: 40%;
}

#alianzas .fas {
  display: initial;
}

#alianzas .slick-prev::before,
#alianzas .slick-next::before {
  font-family: "Font Awesome 5 Free";
}

#alianzas .slick-prev::before {
  content: "\f053";
}

#alianzas .slick-next::before {
  content: "\f054";
}

.fa-chevron-left {
  font-size: 30px;
  color: #002A4B;
}

.fa-chevron-right {
  font-size: 30px;
  color: #002A4B;
}

/* clientes */

.contenedor-clientes {
  padding: 0 150px;
}

#clientes-carrusel .slick-dots li button:before {
  opacity: 1;
  color: transparent;
  background-color: transparent;
  border: 1px solid #002A4B;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
}

#clientes-carrusel li.slick-active button:before {
  background-color: #002A4B;
}

#clientes-carrusel .slick-dots {
  bottom: -30px;
}

.img-clientes {
  margin: 5px 0;
  padding: 10px;
  max-height: 110px;
  object-fit: scale-down;
}

/* testimonios */

.contenedor-testimonios {
  padding: 100px;
  background: linear-gradient(to bottom, #FFF 0%, #FFF 78%, #fff 78%, #002A4B 78%, #002A4B 100%);
}

.cuadrados-testimonios {
  margin-top: 50px;
  border-radius: 50px;
  padding: 50px;
  height: 450px;
}

.img-testimonios {
  width: 100px;
  height: 100px;
  position: relative;
  top: -100px;
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.5);
  object-fit: scale-down;
}

#testimonios-carrusel .slick {
  width: 800px;
  margin: auto;
  background-color: #EBEBEB;
  height: 480px;
}

#testimonios-carrusel .slick-track {
  padding-top: 50px;
}

#testimonios-carrusel .slick-slide:not(.slick-center) {
  z-index: 0;
  transform: scale(0.95);
  opacity: .6;
  left: 175px;
  top: -50px;
  transform: translate(0px, -50px);
}

#testimonios-carrusel .slick-active.slick-center+.slick-slide+.slick-slide {
  z-index: 1;
}

#testimonios-carrusel .slick-active.slick-center+.slick-slide,
#testimonios-carrusel .slick-center+.slick-cloned {
  z-index: 2;
  left: -175px;
  top: -50px;
}

#testimonios-carrusel .slick-center {
  z-index: 3;
}

#testimonios-carrusel .slick-slide {
  position: relative;
  transition: transform 400ms linear;
}

#testimonios-carrusel .slide .cuadrados-testimonios {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

#testimonios-carrusel .slick-prev {
  left: -5% !important;
}

#testimonios-carrusel .slick-next {
  right: -5% !important;
}

/* casos de exito */

.titular-exito {
  border-end-end-radius: 40px;
  border-start-end-radius: 40px;
  padding: 0px 20px 0px 80px;
  min-height: 500px;
}

.titular-exito h2 {
  line-height: 1.25;
}

.icon {
  height: 70px;
  margin: 20px 0;
}

#casos-carrusel .slick-prev::before {
  content: "\f053";
}

#casos-carrusel .slick-next::before {
  content: "\f054";
}

/* contacto */

#contacto {
  padding-top: 110px;
}

.contact-icons img {
  height: 20px;
}

#contacto .icon {
  display: inline;
}

#contacto .form-control::placeholder {
  color: #0368B6;
  font-weight: 300;
}

#contacto .form-control {
  box-shadow: 0px 1px 5px #ccc;
  margin: 10px 0;
}

#contacto .btn-boston {
  background-color: #BACCDB;
  font-weight: 600;
  font-size: .8rem;
  padding: 5px 20px;
}

#contacto .btn-boston:hover {
  background-color: #A9CAEA;
}